# Regression

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [39]:
pd.options.display.max_columns = None # to remove the limit on the number of df columns shown in output
pd.options.display.precision = 3 # to have 3 decimal points as a global option in dataframes
np.set_printoptions(precision = 3) # to have 3 decimal points as a global option in simple print outputs
np.set_printoptions(suppress = True) # to avoid scientific notation in the outputs
pd.options.display.float_format = '{:,.3f}'.format # 3 decimal points and ',' for larger floats in Pandas dataframes

In [14]:
Housing = pd.read_csv("https://raw.githubusercontent.com/monahatami1/monogram1/master/USA_Housing.csv")

In [15]:
Housing.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [ ]:
Housing.isnull().sum()

I don't like column heads that are so long! So I am going to change those to 1-2 words maximum length. It will easier to handle if shorter.

In [17]:
ColNames = "Income Age Rooms BedroomArea Population Price Address".split()

In [25]:
Housing = pd.read_csv("https://raw.githubusercontent.com/monahatami1/monogram1/master/USA_Housing.csv", 
                      skiprows = 1,
                     names = ColNames)

In [41]:
pd.options.display.float_format = '{:,.1f}'.format # 1 decimal points and ',' for larger floats in Pandas dataframes
Housing.head()

,Income,Age,Rooms,BedroomArea,Population,Price,Address
0,"79,545.5",5.7,7.0,4.1,"23,086.8","1,059,033.6","208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,"79,248.6",6.0,6.7,3.1,"40,173.1","1,505,890.9","188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,"61,287.1",5.9,8.5,5.1,"36,882.2","1,058,988.0","9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,"63,345.2",7.2,5.6,3.3,"34,310.2","1,260,616.8",USS Barnett\nFPO AP 44820
4,"59,982.2",5.0,7.8,4.2,"26,354.1","630,943.5",USNS Raymond\nFPO AE 09386

Pick up from here: https://github.com/monahatami1/monogram1/blob/master/notebook1-week8-LinearRegression.ipynb