In [ ]:
# pip install seaborn

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# to allows plots displayed directly in the output cells of the notebook, instead of in a separate window. 
%matplotlib inline

In [9]:
tips = sns.load_dataset('tips') # the tips dataset is built-in for seaborn library
tips.head(10).tail(2)

   total_bill   tip   sex smoker  day    time  size
8       15.04  1.96  Male     No  Sun  Dinner     2
9       14.78  3.23  Male     No  Sun  Dinner     2